<form action="notes_url" method="post">

  <p>
    <label>Content
      <textarea name="note[body]" rows="8" cols="40"></textarea>
    </label>
  </p>

  <input type="hidden" name="note[track_id]" value="track.id">

  <input type="submit" name="Submit">

</form>
